<div class="position-relative overflow-hidden" style="height: 300px;">
    {{fields.field_blog_image.content}}
    <!-- <img class="img-fluid w-100 h-100" src="img/news-300x300-1.jpg" style="object-fit: cover;"> -->
    <div class="overlay">
        <div class="mb-1" style="font-size: 13px;">
            <a class="text-white" href="">{{fields.field_category.content}}</a>
            <span class="px-1 text-white">/</span>
            <a class="text-white" href="">January 01, 2045</a>
        </div>
        <a class="h4 m-0 text-white" href="">{{fields.field_description.content}}</a>
    </div>
</div>
