<div class="position-relative overflow-hidden" style="height: 435px;">
{{ fields.field_blog_image.content}}                          
  <div class="overlay">
                                <div class="mb-1">
                                    <a class="text-white" href="">{{fields.field_category.content}}</a>
                                    <span class="px-2 text-white">/</span>
                                    <a class="text-white" href="">January 01, 2045</a>
                                </div>
                                <a class="h2 m-0 text-white font-weight-bold" href="">{{fields.field_description.content}}</a>
                            </div>
                        </div>