<div class="position-relative">
    <img class="img-fluid w-100" src="img/news-500x280-1.jpg" style="object-fit: cover;">
    <div class="overlay position-relative bg-light">
        <div class="mb-2" style="font-size: 13px;">
            <a href="">Technology</a>
            <span class="px-1">/</span>
            <span>January 01, 2045</span>
        </div>
        <a class="h4 m-0" href="">Sanctus amet sed ipsum lorem</a>
    </div>
</div>